input{
  display: block;
}
#navbar{
  padding: 20px;
}
.tablediv{
 margin: auto;
}
#form1{
  height: auto;
  margin: auto;
  margin-right: 100px;
  padding: 10px;
  width: 100px;
}

#welcome {
  float: right;
  padding-top: 20px;
  padding-right: 100px;
}
.wrapper {
  background-color: #ffffff;
  margin: auto;
  margin-top: 50px;
  width: 900px;
}
/*.datepicker{
  width: 50px;
}*/
